
header, body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoes{
    width: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    margin: 15px;
    transition: 350ms;
    padding: 5px;
}

.botoes:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

div img{
    height: 350px;
}